body {
    background-color: white !important;
    padding-bottom: 100px;
}


#header {
    background-color: pink;
    font-size: larger;
    font-weight: bold;
    font-style: italic;
}


.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 200px;
}

.fa-brands {
    transition: transform 0.75s ease;
}

.fa-heart {
    color: red;
}

/* Add a hover effect if you want */
.fa-brands:hover {
    opacity: 0.7;
    transform: scale(1.25);
}

/* Facebook */
.fa-facebook {
    background: none;
    color: blue;
}

/* Youtube */
.fa-youtube {
    background: none;
    color: red;
}

.fa-instagram {
    color: white;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    display: inline-block;
    border-radius: 30px;
    box-shadow: none;
    padding: 8px 18px;
}

i {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

/* Carousel Title */
.carousel-title {
    font-size: 60px;
    color: pink;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 30px;
    font-weight: bold;
}

/* Style for iframe */
.video-container iframe {
    text-align: center;
    width: 900px;
    height: 506px;
    /* Adjust height as needed */
}

/* .carousel-indicators */
.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
    position: relative;
    margin-left: -20px;
    /* Adjust this value to set distance from the left */
    margin-right: -20px;
}